:root{
    --PrimaryColor:rgb(0, 117, 117);
    --SecondaryColor:rgb(0, 230, 161);
    --GradientColor:linear-Gradient(to right,rgb(0, 230, 230),rgb(0, 117, 117));
    --Gradient2Color:linear-Gradient(to right,rgb(0, 117, 117),rgb(0, 240, 228));
    --WhiteColor:white;
    --BlackColor:black;
    --TextColor:rgb(77, 77, 77);
    --TextGray: gray;
    --WhiteColorDim: rgb(248, 248, 248);
    --CardbgColor:rgb(214, 255, 214);
    --BodyColor:rgb(255, 255, 255);
    
  }


  .header{
    position:sticky; 
    top: 0;
    justify-content: space-between;
    background: var(--WhiteColorDim);
    width: 100%;
    padding: 1rem;
    z-index: 1000;

    .logo{
        color: var(--BlackColor);
        font-weight: 600;
        align-items: center;
        justify-content: center;
        .icon{
            font-size: 25px;
            color: var(--PrimaryColor);
            transform: translateY(5px);
            &:hover{
                color: var(--SecondaryColor);
            }
        }
         
    }
    .navBar{
        border: 1px solid rgb(235, 235, 235);
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 60vw;
        
        .navList{
            justify-content: space-evenly;
        align-items: center;
            .navItem{
                .navLink{
                    color: gray;
                    font-weight: 700;
                    padding: 3px;
                    &:hover{
                        color: rgb(0, 146, 146);
                        border-bottom: 1px solid black;
                        scale: 120%;
                        font-weight: 700;
                    }
                    &:active{
                        scale: 70%;
                    }
                }
            }
        }
        .closeNavIcon{
          display: none;
        }
    }

    @media screen and (max-width:768px){
        .navBar{
            position:absolute;
            background: var(--WhiteColorDim);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            transform: translate(-50%);
            box-shadow: 0 2px 4px gray;
            padding: 1rem;
            z-index: 2000;
            transition: .3s ease-in-out;
         

         
            .navList{
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;

                .navItem{
                    padding: .5rem 0;
                    .navLink{
                        color: var(--TextColor);
                        font-size: .9rem;
                        font-weight: 600;
                        &:hover{
                            color: var(--PrimaryColor);
                        }
                    }
                }
                .btn{
                    margin-top: 1rem;
                    a{
                        font-weight: 600;
                        color: var(--WhiteColor);
                    }
                }
            }
            .closeNavIcon{
                display:flex;
              }
            .closeNavbar{
                position: absolute;
                top:1rem ;
                right: 1.5rem;
                color: rgba(158, 158, 158, 0.582);
                &:hover{
                    color: var(--SecondaryColor);
                }
            
            }
    
        
        }
        .navShow{
            top: 5rem;
        }
       
        
    }
  }

  .activeNavBar{
    z-index: 2000;
}
  .toggleNavbar{
    .icon{
        color: var(--PrimaryColor);
    
        &:hover{
            color:var(--SecondaryColor);
        }
    }
    
  }