.main{
    padding-left: 8vw;
    padding-right: 8vw;
    .sectionTitle{
     color: rgb(0, 141, 134);
     margin-bottom: 2vh;
    }
    .sectContent{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        .cardMy{
           
            color:gray;
            border: 1px solid rgb(240, 240, 240);
            border-radius:1.5rem;
            height: 30rem;
            min-width: 270px;
            width: 23vw;
            margin-bottom: 2rem;
            // background-color: rgb(222, 255, 249);
            grid-template-rows:4fr  1fr 1fr 2fr 1fr;
            justify-content: center;
            align-items: start;
            text-align: center;
            overflow: hidden;
            &:hover{
                img{
                    scale: 110%;
                }
                color: rgb(97, 97, 97);
                 border: 1px solid rgb(0, 224, 224);
            }
           .imgDiv{
                
               overflow: hidden;
               width: 100%;
               height: 100%;
              
               

                img{
                    
                    width: 100%;
                    height: 100%;
                   
                    border-top-right-radius:1.5rem;
                    border-top-left-radius:1.5rem;
                    transition-duration: .5s;
                    

                    

                }
           }
           h2{
        
           }


        }
    }
    @media screen and (max-width:1024px) {
        .sectContent{
            grid-template-columns: 1fr 1fr 1fr ;
            .cardMy{
                width: 30vw;
                margin: auto;
            }
        }
    }
    @media  (max-width:768px) {
        .sectContent{
            grid-template-columns: 1fr 1fr ;
            .cardMy{
                width: 45vw;
                margin: auto;
                height: 35rem;
            }
        }
    }
    @media (max-width:425px) {
        .sectContent{
            grid-template-columns: 1fr ;
            .cardMy{
                width: 80vw;
                margin: auto;
                height: 30rem;
            }
          
        }
    }
}